<!DOCTYPE html>
<th:block th:replace="~{/base/base::setContent(~{this::content}, ~{this::script})}">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="content">
  <div class="row h-100">
    <div class="col-md-4">
      <div>
        <div class="bg-body-frame mb-4">
          <h5>Query Tool for PostgreSQL</h5>
          <span class="text-secondary text-break">A query execution tool for PostgreSQL.</span>
        </div>

        <div class="bg-body-frame mb-4">
          <div class="min-schema-h overflow-y-auto overflow-x-auto">
            <!-- Schema Name -->
            <ul class="schema-group top-schema" th:each="schema, i: ${tableList}">
              <li class="fs-6 schema-name d-flex mb-2">
                <div class="d-flex align-items-center schema-item">
                  <i class="fa-solid fa-database fa-1x"></i>
                  <span class="fs-6 ms-2" th:text="${schema.schema}"></span>
                </div>
              </li>
              <!-- Table Name -->
              <ul th:class="${i.last ? '' : 'd-none'} + ' schema-group'">
                <li class="fs-7 d-flex flex-column table-li" th:each="table : ${schema.tables}">
                  <div class="d-flex justify-content-between align-items-center table-name-div">
                    <div class="d-flex align-items-center table-item">
                      <i class="fa-solid fa-table fa-1x"></i>
                      <span class="ms-2 table-name" th:text="${table}"></span>
                    </div>
                    <!-- Table Util -->
                    <div class="me-1">
                      <a class="text-body search-icon" href="#">
                        <i class="px-1 ti-search fa-1x"></i>
                      </a>
                      <a class="text-body info-icon" href="#">
                        <i class="px-1 ti-info-alt fa-1x"></i>
                      </a>
                    </div>
                  </div>
                  <div class="table-col-info d-none">
                    <table class="columnInfo-table w-100">

                    </table>
                  </div>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="bg-body-frame mb-4">
        <div class="mb-3">
          <textarea class="form-control" id="query-input" rows="4" placeholder="Input Query"></textarea>
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-primary" id="execute-btn">Execute!</button>
          <div class="ms-3">
            <i class="fa-solid fa-circle-notch fa-spin fa-lg d-none" id="loading-icon"></i>
            <i class="fa-solid fa-check fa-lg d-none text-success" id="complete-icon"></i>
          </div>
        </div>
      </div>

      <div class="bg-body-frame mb-4">
        <div class="min-result-h overflow-y-auto overflow-x-hidden">
          <table class="table table-bordered table-hover compact nowrap order-column" id="datatables">
            <thead id="result-head" class="table-secondary"></thead>
            <tbody id="result-body"></tbody>
          </table>
        </div>
      </div>
    </div>

</th:block>

<th:block th:fragment="script">
  <script th:src="@{/js/query.service.js}"></script>
  <script>
    var queryService = new QueryService();

    const loadingIcon = document.getElementById('loading-icon');
    const completeIcon = document.getElementById('complete-icon');
    const resultTableHead = document.getElementById('result-head');
    const resultTableBody = document.getElementById('result-body');
    const queryInput = document.getElementById('query-input');

    $(document).ready(function () {
        $('#query-input').on('change', function (e) {
            completeIcon.classList.add('d-none');
        });

        $('#execute-btn').on('click', function (e) {
            // UI
            $('#execute-btn').addClass('disabled');
            loadingIcon.classList.remove('d-none');
            completeIcon.classList.add('d-none');

            // Clear tableBody
            resultTableBody.innerHTML = '';

            // Get Query String
            var queryString = $('#query-input').val();

            // Ajax
            queryService.executePostgre(queryString, function (data) {
                if (data.columnList) {
                    // Set Table Header
                    var colHtml = '<tr>'
                    for (var i = 0; i < data.columnList.length; i++) {
                        colHtml += '<td>' + data.columnList[i] + '</td>\n';
                    }
                    colHtml += '</tr>'
                    resultTableHead.innerHTML = colHtml;

                    // if DataTable Already Exist, destroy it.
                    if ($.fn.DataTable.isDataTable("#datatables")) {
                        $('#datatables').DataTable().clear().destroy();
                    }

                    // Initialize DataTable
                    $('#datatables').DataTable({
                        data: data.dataList,
                        "scrollX" : true,
                        // dom: 'Bfrtip',
                        layout: {
                            topStart: {
                                buttons: [
                                    {
                                        extend: 'pageLength',
                                        className: 'form-select'
                                    },
                                    {
                                        extend: 'excel',
                                        text: '<i class="fa-solid fa-download fa-1x"></i>',
                                        filename: 'export-1',
                                        className: 'btn btn-outline-form ms-2',
                                    }]
                            }
                        },
                        lengthMenu: [20, 35, 50, 75, 100],
                        pageLength: 20
                    });
                    loadingIcon.classList.add('d-none');
                    completeIcon.classList.remove('d-none');
                } else {
                    modalService.printAlertModal("Error!", data.error);
                }
                $('#execute-btn').removeClass('disabled');
                loadingIcon.classList.add('d-none');
            });
        });
    });

  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {

          // 테이블 목록 확장 축소
          document.querySelectorAll('.schema-name').forEach(function (schemaName) {
              schemaName.addEventListener('click', function () {
                  const ulElement = schemaName.nextElementSibling;

                  if (ulElement) {
                      ulElement.classList.toggle('d-none');
                  }
              });
          });

          // 테이블 명 div 더블 클릭 시 '스키마 명.테이블 명' 자동완성
          document.querySelectorAll('.table-name-div').forEach(function (tableDiv) {
              tableDiv.addEventListener('dblclick', function () {
                  const tableText = tableDiv.querySelector('.table-name').innerText.trim();

                  const schemaName = tableDiv.closest('.top-schema').querySelector('.schema-name').innerText.trim();

                  queryInput.value += ` ${schemaName}.${tableText}`;
              });
          });

          // search icon 클릭 시 select 문 자동완성
          document.querySelectorAll('.search-icon').forEach(function (searchIcon) {
              searchIcon.addEventListener('click', function (e) {
                  e.preventDefault();

                  const tableText = searchIcon.closest('.table-li').querySelector('.table-name').innerText.trim();

                  const schemaName = searchIcon.closest('.top-schema').querySelector('.schema-name').innerText.trim();

                  queryInput.value = `select * from ${schemaName}.${tableText}`;
              });
          });

          // 테이블 명 클릭 시 테이블 내 컬럼, 타입, 길이 표시
          document.querySelectorAll('.table-name').forEach(function (tableName) {
              tableName.addEventListener('click', function () {
                  const colInfoArea = tableName.closest('.table-li').querySelector('.table-col-info');

                  if (colInfoArea.classList.contains('d-none')) { // 상세정보가 숨겨진 상태
                    if (colInfoArea.classList.contains('loaded')) { // column 정보를 불러온 경우
                        colInfoArea.classList.remove('d-none');
                    } else { // column 정보를 불러온 적 없는 경우
                      const tableText = tableName.innerText.trim();
                      const schemaName = tableName.closest('.top-schema').querySelector('.schema-name').innerText.trim();

                      queryService.tableInfoPostgre(schemaName, tableText, function (data) {
                          if (data) {
                              console.log(data);
                              var html = '<tbody>\n'

                              for (var i = 0; i < data.columns.length; i++) {
                                  html += '<tr>\n'
                                  if (data.columns[i].pk) {
                                      html += '<td><i class="fa-solid fa-key fa-0825x"></i></td>\n'
                                  } else {
                                      html += '<td></td>\n'
                                  }

                                  html += '<td>' + data.columns[i].columnName + '</td>\n';
                                  html += '<td>' + data.columns[i].type + '</td>\n';

                                  if (data.columns[i].length) {
                                    html += '<td>' + data.columns[i].length + '</td>\n';
                                  } else {
                                    html += '<td></td>\n';
                                  }

                                  if (data.columns[i].nullable) {
                                      html += '<td><i class="fa-solid fa-n fa-0825x"></i></td>\n'
                                  } else {
                                      html += '<td></td>\n'
                                  }
                                  html += '</tr>';
                              }
                                  html += '</tbody>\n';
                              colInfoArea.querySelector('.columnInfo-table').innerHTML = html;
                              colInfoArea.classList.remove('d-none');
                          }
                      })
                    }

                  } else { // 상세정보가 보이는 상태
                      colInfoArea.classList.add('d-none');
                  }
              });
          });
      });
  </script>
</th:block>
</body>
</html>
</th:block>