<!DOCTYPE html>
<th:block th:replace="~{/base/base::setContent(~{this::content}, ~{this::script})}">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <th:block th:fragment="content">
    <div class="row">
      <div class="col-md-7 mb-4">
        <div class="bg-body-frame">
          <h5>Connect To MariaDB</h5>
          <span class="text-secondary text-break">Please enter the information required to connect MariaDB Server.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-7">
        <div class="bg-body-frame">
          <form th:action="@{/conn/mariadb}" method="post" th:with="mariadbInfo=${session.get('mariadbInfo')}">
            <div class="row">
              <div class="mb-3 col-8">
                <label class="form-label" for="url">URL</label>
                <input class="form-control" type="text" name="url" id="url" placeholder="127.0.0.1" th:value="${mariadbInfo != null ? mariadbInfo.url : 'localhost'}" required>
              </div>
              <div class="mb-3 col-4">
                <label class="form-label" for="port">Port</label>
                <input class="form-control" type="text" name="port" id="port" placeholder="3306" th:value="${mariadbInfo != null ? mariadbInfo.port : '3306'}" required>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" name="username" id="username" placeholder="root" th:value="${mariadbInfo != null ? mariadbInfo.username : 'root'}" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" name="password" id="password" placeholder="********" th:value="${mariadbInfo != null ? mariadbInfo.password : ''}" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="database">Database</label>
              <input class="form-control" type="text" name="database" id="database" placeholder="database" th:value="${mariadbInfo != null ? mariadbInfo.database : ''}" required>
            </div>
            <div class="mb-1 d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Connect</button>
              <a th:href="@{/}" class="btn btn-outline-secondary">Skip</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="script">
  </th:block>
</body>
</html>
</th:block>