<!DOCTYPE html>
<th:block th:fragment="setContent(content, script)">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DBAz</title>
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
  <link th:href="@{/css/solid.css}" rel="stylesheet">
  <link th:href="@{/css/datatables.css}" rel="stylesheet">
  <style>
    #loader {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 90000;
    }

    #loader.fadeOut {
        opacity: 0;
        visibility: hidden;
    }

    .spinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }

    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        } 100% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
              opacity: 0;
          }
    }
  </style>
</head>
<body>
  <!-- Loader -->
  <div id="loader">
      <div class="spinner"></div>
  </div>

  <script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function() {
            loader.classList.add('fadeOut');
        }, 300);
    });
  </script>

  <!-- Top nav -->
  <nav class="navbar navbar-expand-lg sticky-top bg-body">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <i class="ti-server d-inline-block align-text-center ms-2 fa-1_2x"></i>
        <div>
          <a class="navbar-brand ms-2" href="/">
            DBAz
          </a>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <!-- Main menu -->
      <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0 align-items-center" id="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Anayze -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Analyze
            </a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">Relation</h6></li>
              <li><a th:class="'dropdown-item ' + ${session.get('postgreInfo') == null ? 'disabled' : ''}" th:href="@{/analyze/postgre}">PostgreSQL</a></li>
              <li><a class="dropdown-item disabled" href="#">MariaDB</a></li>
            </ul>
          </li>

          <!-- Query -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Query
            </a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">Query Tools</h6></li>
              <li><a th:class="'dropdown-item ' + ${session.get('postgreInfo') == null ? 'disabled' : ''}" th:href="@{/query/postgre}">PostgreSQL</a></li>
              <li><a th:class="'dropdown-item ' + ${session.get('mariadbInfo') == null ? 'disabled' : 'disabled'}" th:href="@{/query/mariadb}">MariaDB</a></li>
            </ul>
          </li>
        </ul>

        <hr class="mx-2 d-lg-none">

        <!-- DB Info -->
        <ul class="navbar-nav">
          <!-- PostgreSQL -->
          <li class="nav-item dropdown" th:with="postgreInfo=${session.get('postgreInfo')}">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="mx-1" width="32" height="32" th:src="@{/assets/logo/postgresql_logo_512.png}" alt="postgresql">
              <span th:if="${postgreInfo == null}">Offline</span>
              <span th:unless="${postgreInfo == null}" th:text="${postgreInfo.getUrl() + ':' +  postgreInfo.getPort()}"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><h6 class="dropdown-header">PostgreSQL</h6></li>
              <th:block th:if="${postgreInfo == null}">
                <li><hr class="dropdown-divider mx-2"></li>
                <li><a class="dropdown-item" th:href="@{/conn/postgre}">Connect</a></li>
              </th:block>
              <th:block th:unless="${postgreInfo == null}">
                <p class="text-body-secondary mb-0 px-3 fa-08x" th:text="'Database : ' + ${postgreInfo.getDatabase()}"></p>
                <p class="text-body-secondary px-3 fa-08x" th:text="'Schema : ' + ${postgreInfo.getSchema()}"></p>

                <li><hr class="dropdown-divider mx-2"></li>
                <li><a class="dropdown-item" th:href="@{/conn/postgre}">Modify</a></li>
                <li><a class="dropdown-item" th:href="@{#}">Disconnect</a></li>
              </th:block>
            </ul>
          </li>
          <!-- MariaDB -->
          <li class="nav-item dropdown" th:with="mariadbInfo=${session.get('mariadbInfo')}">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="mx-1" width="32" height="32" th:src="@{/assets/logo/mariadb_logo_512.png}" alt="mariaDB">
              <span th:if="${mariadbInfo == null}">Offline</span>
              <span th:unless="${mariadbInfo == null}" th:text="${mariadbInfo.getUrl() + ':' +  mariadbInfo.getPort()}"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><h6 class="dropdown-header">MariaDB</h6></li>
              <th:block th:if="${mariadbInfo == null}">
                <li><hr class="dropdown-divider mx-2"></li>
                <li><a class="dropdown-item" th:href="@{/conn/mariadb}">Connect</a></li>
              </th:block>
              <th:block th:unless="${mariadbInfo == null}">
                <p class="text-body-secondary px-3 fa-08x" th:text="'Database : ' + ${mariadbInfo.getDatabase()}"></p>

                <li><hr class="dropdown-divider mx-2"></li>
                <li><a class="dropdown-item" th:href="@{/conn/mariadb}">Modify</a></li>
                <li><a class="dropdown-item" th:href="@{#}">Disconnect</a></li>
              </th:block>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="full-container d-flex">
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" id="sidebar" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
    </div>

    <div class="main-content overflow-y-auto">
      <th:block th:replace="${content}"></th:block>
    </div>
  </div>

  <div id="modal-container"></div>


  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/datatables.js}"></script>
  <script th:src="@{/js/modal.service.js}"></script>
  <script th:inline="javascript">
      const modalService = new ModalService();

      var title = [[${msg != null ? msg.title : msg}]];
      if (title) {
      } else {
          title = 'Alert!';
      }

      var msg = [[${msg != null ? msg.msg : msg}]];
      if (msg) {
          modalService.printAlertModal(title, msg);
      }

      const urlWithoutParams = window.location.origin + window.location.pathname;
      window.history.replaceState(null, '', urlWithoutParams);
  </script>

  <th:block th:replace="${script}"></th:block>
</body>
</html>
</th:block>
